body {
    width: 1600px;
    margin: 0 auto;
}

/* one-page */
    .one-page {
        height: 900px;
        background-image: url(./images/Layer\ 21\ 1.png);
        font-family: 'montserrat';
        color: #FFFFFF;
    }

    .one-page_box {
        display: flex;
        flex-direction: column;
        padding-top: 528px;
        padding-left: 224px;
    }

    .one-page_header {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        text-transform: uppercase;
    }

    .one-page_subtitle {
        margin-top: 16px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    .one-page_emblem {
        display: flex;
        background-color: rgba(0, 0, 0, 0.25);
        margin-top: 22px;
        width: 832px;
        height: 132px; 
        border: 2px solid #c4c4c4;
        font-weight: 700;
        font-size: 54px;
        line-height: 66px;
        text-transform: uppercase;
        justify-content: space-around;
        align-items: center;
    }

    .one-page_text-colored {
        color: #F48E0B;
        padding: 34px 24px;
        border-right: 2px solid #F48E0B;
    }

/* two-page */
    .two-page_box {
        height: 755px;
        padding: 100px 215px 0 215px;
        font-family: 'Lato';
    }

    .two-page_titles {
        display: flex;
        flex-direction: column;
    }

    .two-page_header {
        font-family: 'montserrat';
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
    }

    .two-page_subtitle {
        margin-top: 28px;
        text-align: center;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: #4D4943;
    }

    .two-page_small-hr {
        margin-top: 48px;
        width: 60px;
        border: 2px solid #F1AD1D;
        background-color: #F48E0B;
    }

    .two-page_img-emblem {
        display: block;
        margin: 56px auto 0 auto;
        width: 280px;
        height: 240px;
    }

    .two-page_nav {
        display: flex;
        width: 1170px;
        padding-top: 5px;
    }

    .two-page_nav-logo {
        width: 30%;
    }

    .two-page_nav-menu {
        display: flex;
        text-transform: uppercase;
        width: 70%;
    }

    .two-page_nav-menu-item {
        padding-left: 70px;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #3D3D3D;
    }

    .two-page_nav-menu-item:hover {
        color: #F1B128;
    }

    .two-page_big-hr {
        margin-top: 22px;
        border: 2px solid #F1AD1D;
        background-color: #F48E0B;
    }

    .two-page_titles-two {
        margin-top: 128px;
    }
        
/* three-page */
    .three-page_box {
        display: flex;
        font-family: 'lato';
        height: 470px;
        padding: 24px 215px 124px 215px; 
        width: 1170px;
        height: 320px;
    }

    .three-page_box-images {
        display: flex; 
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 30px;
        width: 51%;
    }

    .three-page_box-images_img-one {
        display: flex;
        align-items: flex-end;
        background-image: url(./images/Layer\ 23.png);
        width: 270px;
        height: 148px;
    }

    .three-page_box-images_img-two {
        display: flex;
        align-items: flex-end;
        background-image: url(./images/Layer\ 24.png);
        width: 270px;
        height: 148px;
    }

    .three-page_box-images_img-three {
        display: flex;
        align-items: flex-end;
        background-image: url(./images/Layer\ 25.png);
        width: 270px;
        height: 148px;
    }

    .three-page_box-images_img-four {
        display: flex;
        align-items: flex-end;
        background-image: url(./images/Layer\ 26.png);
        width: 270px;
        height: 148px;
    }

    .three-page_box-images_box-titles {
        padding: 14px 0 0 16px;
        height: 30px;
        width: 104px;
        margin-bottom: 12px;
        margin-left: 12px;
        background-color: #333333;
    }

    .three-page_box-images_box-titles_title {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
    }

    .three-page_box-titles {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
        width: 49%;
    }

    .three-page_box-titles_header {
        font-family: 'montserrat';
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        color: #333333;
    }

    .three-page_box-titles_header-colored {
        color: #F1AD1D;
    }

    .three-page_box-titles_titl {
        margin-top: 22px;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #505050;
    }

    .three-page_box-titles_button {
        margin-top: 36px;
        height: 52px;
        width: 176px;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        border: none;
        color: #FFFFFF;
        background-color: #F1AD1D;
    }

    .three-page_box-titles_button:hover {
        cursor: pointer;
        background-color: #f4740bd7;
    }

    .three-page_box_speed-image {
        height: 244px;
        background-image: url(./images/Layer\ 22\ 1.png);
        font-family: 'montserrat';
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        padding-top: 136px;
        text-align: center;
        color: #FFFFFF;
    }

    .three-page_box_speed-image_title-colored {
        color: #F1AD1D;
    }

    .three-page_box_speed-image_hr {
        margin-top: 60px;
        height: 1px;
        width: 62px;
        border: 2px solid #F1AD1D;
        background-color: #F48E0B;
    }

/* four-page */
    .four-page_titles {
        height: 290px;
        font-family: "lato";
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .four-page_titles_header {
        margin-top: 116px;
        font-family: "montserrat";
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
    }
    
    .four-page_titles_subtitle {
        margin-top: 28px;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
    }

    .four-page_titles_small-hr {
        margin-top: 48px;
        width: 60px;
        border: 2px solid #F1AD1D;
        background-color: #F48E0B;
    }

    .four-page_img-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 360px;
        width: 1167px;
        margin: 0 auto 208px; 
        
    }

    .four-page_img-boxes {
        width: 193px;
        height: 178px;
    }

    .four-page_img-box_one {
        background-image: url(./images/Layer\ 27.png);
    }
    
    .four-page_img-box_two {
        background-image: url(./images/Layer\ 28.png);
    }

    .four-page_img-box_three {
        background-image: url(./images/Layer\ 29.png);
    }

    .four-page_img-box_four {
        background-image: url(./images/Layer\ 30.png);
    }

    .four-page_img-box_five {
        background-image: url(./images/Layer\ 31.png);
    }

    .four-page_img-box_six {
        background-image: url(./images/Layer\ 32.png);
    }

    .four-page_img-box_seven {
        background-image: url(./images/Layer\ 33.png);
    }

    .four-page_img-box_eight {
        background-image: url(./images/Layer\ 34.png);
    }

    .four-page_img-box_nine {
        background-image: url(./images/Layer\ 35.png);
    }

    .four-page_img-box_ten {
        background-image: url(./images/Layer\ 36.png);
    }

    .four-page_img-box_eleven {
        background-image: url(./images/Layer\ 37.png);
    }

    .four-page_img-box_twelve {
        background-image: url(./images/Layer\ 38.png);
    }

    .four-page_img-box_titles {
        padding: 15px 0 0 14px;
        height: 30px;
        margin: 120px 16px 16px 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        background-color: #333333;
    }

    .four-page_img-box_title-colored {
        color: #F1AD1D;
    }

/* five-page */
    .five-page_titles {
        height: 290px;
        font-family: "lato";
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .five-page_titles_header {
        font-family: "montserrat";
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
    }
    
    .five-page_titles_subtitle {
        margin-top: 28px;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
    }

    .five-page_titles_small-hr {
        margin-top: 48px;
        width: 60px;
        border: 2px solid #F1AD1D;
        background-color: #F48E0B;
    }

    .five-page_container {
        display: grid;
        grid-template-rows: 56px 104px 68px 52px 30px 108px 6px;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 34px;
        font-family: 'lato';
        margin: 0 215px 194px 215px;
        color: #505050;
    }

    .five-page_container_header {
        display: grid;
        justify-content: center;
        align-content: center;
        font-family: 'montserrat';
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        background-color: #333333;
        color: #FFFFFF;
    }

    .five-page_container_header_title-colored {
        color: #F1AD1D;
    }

    .five-page_container_icon {
        display: block;
        margin: auto;
    }

    .five-page_container_title {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }

    .five-page_container_small-hr {
        display: block;
        margin: auto;
        height: 4px;
        width: 66px;
        border: 1px solid #F1AD1D;
        background-color: #F48E0B;
    }

    .five-page_container_subtitle {
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    .five-page_container_title-two {
        text-align: center;
        padding: 0 60px;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }

    .five-page_container_big-hr {
        background-color: #333333;
    } 